@import 'tailwindcss';

@theme {
  --color-primary: #e5223c;
  --color-secondary: #1a1717;
  --color-accent: #fcfcfc;
  --color-skeleton: #f5f5f5;
}

button,
a {
  cursor: pointer;
}

input,
textarea {
  cursor: caret;
  outline: none;
}
